*{
    margin: 0;
}
.navbar{
    font-size: 50px;
    display: flex;
    flex-direction: row;
    background-color: rebeccapurple;
    column-gap: 10px;
    padding: 20px;
    justify-content: space-around;
}
.navitem{
    background-color: aqua  ;
}
.title{
    font-size: 27px;
    display: grid;
    height: 500px;
}
.title-txt{
    display: flex;
    justify-content: space-around;
    display: table-column;
    height: 450px;
}
img{
    width: 450px;
    height: 300px;
}
.END{
    font-size: 70px;
    display: flex;
}